.nav{
  width: 100%;
  background-color: #f1edf5;
}
.container .logo img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}
.container .list-ul .list-li{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 20px;
}
a{
  text-decoration: none;
  color: black;
}
.list-ul {
  display: flex;
  justify-content: space-between;
  gap: 20%;
}
.list-li {
  gap: 20px;
}

/* Tìm kiếm */
.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.search__input {
  font-family: inherit;
  font-size: inherit;
  background-color: #f4f2f2;
  border: none;
  color: #646464;
  padding: 0.5rem 1rem;
  border-radius: 30px;
  width: 12em;
  transition: all ease-in-out 0.5s;
  margin-right: -2rem;
}

.search__input:hover,
.search__input:focus {
  box-shadow: 0 0 1em #00000013;
}

.search__input:focus {
  outline: none;
  background-color: #f0eeee;
}

.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: #ccc;
}

.search__input:focus + .search__button {
  background-color: #f0eeee;
}

.search__button {
  border: none;
  background-color: #f4f2f2;
  margin-top: 0.1em;
  font-size: 15px;
  border-radius: 10px;
}

.search__button:hover {
  cursor: pointer;
}

.search__icon {
  height: 1.3em;
  width: 1.3em;
  fill: #b4b4b4;
}
.main-cart{
   margin-top: 20px;
}
.container-cart .row {
  margin: 10px 20px;
}
.voucher {
  padding: 10px;
   border-radius: 5px;
  background-color: #ffff;
}
.title-table {
  display: flex;
  justify-content: space-around;
}
.body-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 7px;
  padding: 20px 0px ;
  margin: 5px 0px;
  background-color: #eeeeee;
}
.body-item img {
  object-fit: cover;

}
.body-item input{
  background:transparent ;
  border:  none;
}
.check-out{
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 20%;
}

