<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
          integrity="sha512-NmLkDIU1C/C88wi324HBc+S2kLhi08PN5GDeUVVVC/BVt/9Izdsc9SVeVfA1UZbY3sHUlDSyRXhCzHfr6hmPPw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/css/cart.css}">
    <title>CartItem</title>
</head>

<body>
<div class="container-cart">
    <div class="nav">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-xl-10  col-lg-10 col-md-10 col-sm-10 h-100 d-flex ">
                    <div class="logo">
                        <img src="https://i.pinimg.com/736x/2f/aa/22/2faa22e78fe13a4b5be289c9bb8ddeba.jpg" width="100%"
                             height="70%">
                    </div>
                    <ul class="list-ul">
                        <ul class="list-li">
                            <li><a th:href="@{/}">Home</a></li>
                            <li><a th:href="@{productPage}">Product</a></li>
                            <li><a th:href="@{contact}">Contact</a></li>
                            <li><a th:href="@{history}">history</a></li>
                        </ul>
                        <ul class="list-li">
                            <li class="control">
                                <form action="" method="post" class="search">
                                    <input type="text" class="search__input" placeholder="Enter to search">
                                    <button class="search__button">
                                        <svg class="search__icon" aria-hidden="true" viewBox="0 0 24 24">
                                            <g>
                                                <path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path>
                                            </g>
                                        </svg>
                                    </button>
                                </form>
                            </li>
                            <li><a th:href="@{/form-login}" th:if="${session.userlogin}==null" th:text="Login"></a>
                            </li>
                            <li><a th:href="@{/form-register}" th:if="${session.userlogin}==null"
                                   th:text="Register"></a></li>
                            <li><a th:href="@{/form-login}" th:if="${session.userlogin}!=null"
                                   th:text="${session.userlogin.username}"></a></li>
                            <li><a th:href="@{/logout}" th:if="${session.userlogin}!=null"
                                   th:text="Logout">
                            </a></li>
                            <li><a th:href="@{/cart}">
                                <div><i class="fa-solid fa-cart-shopping"></i></div>
                            </a></li>
                            <li><a href="#">
                                <i class="fa-solid fa-user-plus"></i>
                            </a></li>
                        </ul>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="main-cart">
        <div class="row">
            <div class="col  ">
            </div>
            <div class="col-4">
                <input type="checkbox" name="" id="checkboxs">
                <label for="checkboxs">Sản phẩm</label>
            </div>

            <div class="col-6">
                <div class="title-table">
                    <div>Đơn giá</div>
                    <div>Số lương</div>
                    <div>Thành tiền</div>
                    <div>Thao tác</div>
                </div>
            </div>

            <div class="col ">
            </div>
        </div>
        <div class="row" th:each="ci,loop : ${session.cart}">
            <div class="col ">
            </div>
            <div class="col-10 ">
                <!--      ******* Sản phẩm trong giỏ hàng-->
                <form th:action="@{'/cart/update/'+${ci.id}}" method="post">
                    <div class="body-item">
                        <input type="checkbox" name="" id="checkbox">
                        <div class="style-img">
                            <img width="100px" height="100px" th:src="'/image/'+${ci.product.img_url}" alt="">
                        </div>
                        <div class="name-pro" th:text="${ci.product.name}"></div>
                        <div class="price-pro" th:text="${ci.product.price + '$'}">100 $</div>
                        <input type="number" min="0" class="qunatity" th:value="${ci.quantity}" name="quantity"
                               placeholder="số lượng">
                        <div class="total-mount" th:text="${ci.product.price*ci.quantity +' $'}"></div>
                        <div>
                            <button type="submit" class="btn btn-warning">update</button>
                            <a href="#" class="btn btn-danger" onclick="return confirm('Bạn có muốnn xóa không')"
                               th:href="@{'/cart/delete/'+${ci.id}}">delete</a>
                        </div>

                    </div>
                </form>
            </div>

            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col-10 ">
                <div class="check-out">
                    <h4 class="total" th:text="${'Tổng tiền: '+ total +' $'}">
                    </h4>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Checkout
                    </button>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form th:action="@{/order/create}" method="post">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Nhập thông tin </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label for="tel">Phone</label>
                <input id="tel" type="text"  name="phone" class="form-control"
                       required data-eye>
                <div class="invalid-feedback">
                    Phone is required
                </div>
                <label for="add">address</label>
                <input id="add" type="text"  name="address" class="form-control"
                       required >
                <div class="invalid-feedback">
                    address is required
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Create Order</button>
            </div>
        </div>
        </form>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

<script src="/assets/js/script.js"></script>
</body>

</html>